@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
  position: relative;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  border: none;
  -moz-appearance: textfield;
}

input[type=number]:focus {
  outline: none;
}

input[type=tel] {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=text] {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=tel]:focus {
  outline: none;
}

input[type=text]:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  resize: none;
}

select {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px;
}

button:focus {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

div {
  -webkit-tap-highlight-color: transparent;
}

div:focus {
  border: none;
  outline: none;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 20px;
  max-width: 1410px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    padding: 0px 50px;
  }
}

@media (min-width: 1450px) {
  .container {
    padding: 0px;
  }
}

.header {
  background-color: #082D64;
  position: relative;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_content_logo {
  position: relative;
  width: 105px;
}

.header_content_logo img {
  width: 100%;
}

.header_content ul {
  display: none;
}

.header_content_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_content_right_registration {
  width: 97px;
  height: 29px;
  background-color: #CE00FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header_content_right_registration:hover {
  background-color: #BA00E7;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header_content_right_registration span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
}

.header_content_right_btn {
  position: relative;
  width: 25px;
  height: 18px;
  margin-left: 13px;
  cursor: pointer;
}

.header_content_right_btn span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 5px;
  right: 0px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header_content_right_btn span:first-child {
  top: 0px;
}

.header_content_right_btn span:nth-child(2) {
  top: 8px;
}

.header_content_right_btn span:last-child {
  bottom: 0px;
}

.header_content_right_btn.active span {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header_content_right_btn.active span:first-child {
  top: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header_content_right_btn.active span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.header_content_right_btn.active span:last-child {
  top: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 1200px) {
  .header {
    height: 130px;
  }
  .header_content_logo {
    width: auto;
  }
  .header_content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_content ul li {
    margin-left: 40px;
  }
  .header_content ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  .header_content ul li a:hover {
    color: #00FFEA;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .header_content ul li:first-child {
    margin-left: 0px;
  }
  .header_content_right_registration {
    width: 172px;
    height: 54px;
  }
  .header_content_right_registration span {
    font-size: 18px;
    line-height: 22px;
  }
  .header_content_right_btn {
    display: none;
  }
}

@media (min-width: 1600px) {
  .header_content ul li {
    margin-left: 77px;
  }
  .header_content ul li a {
    font-size: 24px;
    line-height: 29px;
  }
}

.header_dropdown {
  position: absolute;
  left: 0px;
  top: 57px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 0px 12px 20px;
  background-color: #082D64;
  -webkit-transform: translateX(-1200px);
          transform: translateX(-1200px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header_dropdown.active {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.header_dropdown ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header_dropdown ul li {
  margin-top: 24px;
}

.header_dropdown ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.header_dropdown ul li a:hover {
  color: #00FFEA;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header_dropdown ul li:first-child {
  margin-top: 0px;
}

@media (min-width: 768px) {
  .header_dropdown {
    padding: 12px 0px 12px 50px;
  }
}

@media (min-width: 1200px) {
  .header_dropdown {
    display: none;
  }
}

.main {
  background: url(../img/main/background.jpg);
  background-size: cover;
  background-position: -137px center;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 23px 0px 40px 0px;
}

.main_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 10px solid #FFFFFF;
  position: relative;
}

.main_block_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 62%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0px 0px 10px;
}

.main_block_left_desktop {
  display: none;
}

.main_block_left_mob {
  display: block;
}

.main_block_left h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-top: 10px;
}

.main_block_left span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.main_block_right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 10px solid #FFFFFF;
  width: 38%;
}

.main_block_right_top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 10px solid #FFFFFF;
  padding: 25px 20px 23px 20px;
}

.main_block_right_top h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: #FFFFFF;
}

.main_block_right_top span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
}

.main_block_right_bottom {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 78px;
}

.main_block_right_bottom_big {
  position: absolute;
  left: 1px;
  top: -57px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 134px;
  color: rgba(0, 255, 234, 0.5);
  z-index: 0;
}

.main_block_right_bottom_med {
  position: absolute;
  right: -21px;
  bottom: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #00FFEA;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.main_block_right_bottom h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
  margin-top: 18px;
  margin-left: 10px;
  position: relative;
  z-index: 2;
}

.main_block_right_bottom p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 14px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .main {
    background: url(../img/main/back.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1200px) {
  .main {
    padding: 93px 0px 91px 0px;
  }
  .main_block {
    border: 20px solid #FFFFFF;
  }
  .main_block_left {
    width: 68%;
    padding: 0px 0px 60px;
  }
  .main_block_left_desktop {
    display: block;
  }
  .main_block_left_mob {
    display: none;
  }
  .main_block_left h1 {
    font-size: 100px;
    line-height: 120px;
    margin-left: 60px;
  }
  .main_block_left span {
    font-size: 50px;
    line-height: 70px;
    margin-left: 60px;
  }
  .main_block_right {
    width: 33%;
    border-left: 20px solid #FFFFFF;
  }
  .main_block_right_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 60px 0px 40px 50px;
    border-bottom: 20px solid #FFFFFF;
  }
  .main_block_right_top h2 {
    font-size: 165px;
    line-height: 134px;
    margin-right: 15px;
  }
  .main_block_right_top span {
    font-size: 40px;
    line-height: 43px;
  }
  .main_block_right_bottom_big {
    font-size: 372px;
    line-height: 453px;
    left: 4px;
    top: -176px;
  }
  .main_block_right_bottom_med {
    font-size: 90px;
    line-height: 109px;
    right: -73px;
    bottom: -128px;
  }
  .main_block_right_bottom h2 {
    font-size: 52px;
    line-height: 57px;
    margin-top: 20px;
    margin-left: 48px;
  }
  .main_block_right_bottom p {
    font-size: 30px;
    line-height: 33px;
    margin-left: 48px;
  }
}

@media (min-width: 1680px) {
  .main_block_left {
    width: 70%;
  }
  .main_block_right {
    width: 30%;
  }
}

.about {
  position: relative;
  background: url("../img/about/about_img.jpg");
  background-size: cover;
  background-position: 50%;
}

.about:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #082D64;
  opacity: 0.7;
}

.about_left {
  position: relative;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 26px;
}

.about_left_content h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}

.about_left_content_text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  margin-top: 20px;
}

.about_left_content ul {
  margin-top: 22px;
}

.about_left_content ul li {
  position: relative;
  padding-left: 38px;
  margin-top: 14px;
}

.about_left_content ul li:first-child {
  margin-top: 0px;
}

.about_left_content ul li::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #00FFEA;
}

.about_left_content ul li p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
}

.about_left_content_bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  margin-top: 20px;
}

.about_left_content_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about_left_content_btns_registration {
  width: 185px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00FFEA;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  margin-top: 30px;
}

.about_left_content_btns_registration span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #082D64;
}

.about_left_content_btns_registration:hover {
  background-color: #00EFDB;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.about_left_content_btns_registration:hover span {
  font-weight: 400;
}

.about_left_content_btns_program {
  width: 219px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #CE00FF;
  cursor: pointer;
  margin-top: 20px;
}

.about_left_content_btns_program span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.about_left_content_btns_program:hover {
  background-color: #BA00E7;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.about_left_content_btns_program:hover span {
  font-weight: 400;
}

.about_left_content_img {
  display: none;
}

.about_right {
  display: none;
}

@media (min-width: 768px) {
  .about_left_content_btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 30px;
  }
  .about_left_content_btns_registration {
    margin-top: 0px;
  }
  .about_left_content_btns_program {
    margin-top: 0px;
    margin-left: 40px;
  }
}

@media (min-width: 1200px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #082D64;
  }
  .about:after {
    display: none;
  }
  .about:before {
    content: "";
    width: 34%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    background: url(../img/about/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .about_left {
    padding-top: 50px;
    padding-bottom: 56px;
  }
  .about_left_content {
    max-width: 740px;
    width: 100%;
  }
  .about_left_content h2 {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 30px;
  }
  .about_left_content_text {
    font-size: 18px;
    line-height: 22px;
  }
  .about_left_content ul li {
    margin-top: 10px;
  }
  .about_left_content ul li p {
    font-size: 18px;
    line-height: 22px;
  }
  .about_left_content_bold {
    font-size: 20px;
    line-height: 24px;
  }
  .about_left_content_btns {
    margin-top: 40px;
  }
  .about_left_content_btns_registration {
    width: 247px;
    height: 54px;
  }
  .about_left_content_btns_registration span {
    font-size: 18px;
    line-height: 22px;
  }
  .about_left_content_btns_program {
    width: 295px;
    height: 54px;
  }
  .about_left_content_btns_program span {
    font-size: 18px;
    line-height: 22px;
  }
  .about_left_content_img {
    display: block;
    width: 290px;
    height: 287px;
    position: absolute;
    right: 11%;
    top: 122px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 20px solid #00FFEA;
  }
  .about_left_content_img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 1366px) {
  .about_left_content_img {
    right: 15%;
  }
}

@media (min-width: 1440px) {
  .about_left_content_img {
    right: 17%;
  }
}

@media (min-width: 1600px) {
  .about_left_content {
    max-width: 836px;
  }
}

@media (min-width: 1920px) {
  .about_left_content_img {
    width: 390px;
    height: 387px;
    right: 8%;
  }
}

.conference {
  background: url(../img/conference/background.png);
  background-size: cover;
  background-position: left top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 286px;
  position: relative;
}

.conference h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
}

.conference_slider {
  margin-top: 30px;
}

.conference_slider_item {
  width: 240px;
  height: 362px;
  position: relative;
  background-color: #fff;
  margin-left: 30px;
}

.conference_slider_item_img {
  position: relative;
  width: 100%;
  height: 160px;
}

.conference_slider_item_img img {
  width: 100%;
  height: 100%;
}

.conference_slider_item_text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 16px 0px 12px;
}

.conference_slider_item_text h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #13353F;
  margin-top: 10px;
}

.conference_slider_item_text p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #13353F;
  margin-top: 10px;
}

.conference_slider_item a {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 120px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00FFEA;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.conference_slider_item a span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #082D64;
}

.conference_slider_item a:hover {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: #00EFDB;
}

.conference_prev {
  position: absolute;
  bottom: 256px;
  left: 20px;
  cursor: pointer;
}

.conference_prev img {
  position: absolute;
  left: 0px;
  top: 0px;
}

.conference_prev img.desktop {
  display: none;
}

.conference_prev img.mob {
  display: block;
}

.conference_prev_black {
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.conference_prev_green {
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.conference_prev:hover .conference_prev_black {
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.conference_prev:hover .conference_prev_green {
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.conference_next {
  position: absolute;
  bottom: 256px;
  right: 120px;
  cursor: pointer;
}

.conference_next img {
  position: absolute;
  left: 0px;
  top: 0px;
}

.conference_next img.desktop {
  display: none;
}

.conference_next img.mob {
  display: block;
}

.conference_next_black {
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.conference_next_green {
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.conference_next:hover .conference_next_black {
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.conference_next:hover .conference_next_green {
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (min-width: 1280px) {
  .conference {
    padding-top: 50px;
    padding-bottom: 370px;
  }
  .conference h2 {
    font-size: 50px;
    line-height: 61px;
  }
  .conference_slider {
    margin-top: 50px;
  }
  .conference_slider_item {
    width: 330px;
    height: 504px;
  }
  .conference_slider_item_img {
    height: 220px;
  }
  .conference_slider_item_text {
    padding: 0px 20px;
  }
  .conference_slider_item_text h4 {
    font-size: 24px;
    line-height: 29px;
  }
  .conference_slider_item_text p {
    font-size: 16px;
    line-height: 20px;
  }
  .conference_slider_item a {
    width: 190px;
    height: 42px;
  }
  .conference_slider_item a span {
    font-size: 18px;
    line-height: 22px;
  }
  .conference_prev {
    left: 80px;
    bottom: 332px;
  }
  .conference_prev img.desktop {
    display: block;
  }
  .conference_prev img.mob {
    display: none;
  }
  .conference_next {
    right: 328px;
    bottom: 332px;
  }
  .conference_next img.desktop {
    display: block;
  }
  .conference_next img.mob {
    display: none;
  }
}

.program {
  background: #082D64;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 40px;
  position: relative;
  padding-top: 200px;
}

.program h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  top: -182px;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.program_list_item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 30px;
}

.program_list_item_number {
  position: relative;
  margin-left: 20px;
  z-index: 2;
}

.program_list_item_number span {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 90px;
  line-height: 105px;
  color: #00FFEA;
}

.program_list_item_number p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
  color: #1F305D;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  right: -3px;
  bottom: 22px;
}

.program_list_item_time {
  position: absolute;
  right: 0px;
  top: 30px;
  background-color: #CE00FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 30px 10px 10px;
}

.program_list_item_time p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
}

.program_list_item_time_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 10px;
}

.program_list_item_time_number_hour {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
}

.program_list_item_time_number_min {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  position: relative;
  margin-left: 3px;
}

.program_list_item_time_number_min:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.program_list_item h3 {
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #082D64;
  margin-top: 4px;
  position: relative;
  z-index: 2;
}

.program_list_item_description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #082D64;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 10px;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

.program_list_item ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 10px;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

.program_list_item ul li p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #082D64;
}

.program_list_item_bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: #082D64;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 10px;
  position: relative;
  z-index: 2;
}

.program_reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 185px;
  height: 36px;
  background-color: #00FFEA;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin: 0 auto;
  margin-top: 30px;
}

.program_reg span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #082D64;
}

.program_reg:hover {
  background-color: #00EFDB;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (min-width: 768px) {
  .program {
    padding-top: 141px;
  }
}

@media (min-width: 1200px) {
  .program {
    padding-top: 268px;
    padding-bottom: 60px;
  }
  .program h2 {
    font-size: 50px;
    line-height: 61px;
    top: -293px;
  }
  .program_list_item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 330px;
    margin-bottom: 30px;
  }
  .program_list_item_number {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
  }
  .program_list_item_time {
    z-index: 2;
    padding: 2px 53px 2px 36px;
    left: 0px;
    top: 102px;
    right: auto;
  }
  .program_list_item_time p {
    font-size: 14px;
    line-height: 17px;
  }
  .program_list_item_time_number_hour {
    font-size: 50px;
    line-height: 59px;
  }
  .program_list_item_time_number_min {
    font-size: 18px;
    line-height: 21px;
    margin-left: 6px;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  .program_list_item h3 {
    font-size: 32px;
    line-height: 39px;
    margin-top: 40px;
  }
  .program_list_item_description {
    font-size: 18px;
    line-height: 22px;
    margin-top: 40px;
  }
  .program_list_item ul {
    margin-top: 30px;
  }
  .program_list_item ul li p {
    font-size: 18px;
    line-height: 22px;
  }
  .program_list_item_bold {
    font-size: 20px;
    line-height: 22px;
    margin-top: 30px;
  }
  .program_reg {
    width: 248px;
    height: 54px;
    margin-top: 70px;
  }
  .program_reg span {
    font-size: 18px;
    line-height: 22px;
  }
}

.program_list_item_one {
  position: absolute;
  left: 50%;
  top: -130px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(100% - 40px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1410px;
}

.program_list_item_one_small {
  display: none;
}

.program_list_item_one_medium {
  display: none;
}

.program_list_item_one_big {
  display: none;
}

.program_list_item_one_mobile {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

@media (min-width: 768px) {
  .program_list_item_one {
    width: calc(100% - 100px);
  }
}

@media (min-width: 1200px) {
  .program_list_item_one {
    top: -174px;
    padding-bottom: 62px;
  }
  .program_list_item_one h3 {
    max-width: 580px;
  }
  .program_list_item_one .program_list_item_description {
    max-width: 615px;
  }
  .program_list_item_one_small {
    display: block;
    position: absolute;
    left: 183px;
    bottom: 0px;
    z-index: 1;
  }
  .program_list_item_one_medium {
    display: block;
    position: absolute;
    left: 12px;
    bottom: 47px;
    z-index: 1;
  }
  .program_list_item_one_big {
    display: block;
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 0px;
  }
  .program_list_item_one_mobile {
    display: none;
  }
}

@media (min-width: 1366px) {
  .program_list_item_one h3 {
    max-width: 650px;
  }
  .program_list_item_one .program_list_item_description {
    max-width: 650px;
  }
}

@media (min-width: 1440px) {
  .program_list_item_one h3 {
    max-width: 750px;
  }
  .program_list_item_one .program_list_item_description {
    max-width: 750px;
  }
}

@media (min-width: 1500px) {
  .program_list_item_one h3 {
    max-width: 757px;
  }
  .program_list_item_one .program_list_item_description {
    max-width: 800px;
  }
}

.program_list_item_two_one {
  display: none;
}

.program_list_item_two_two {
  display: none;
}

.program_list_item_two_mobile_one {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.program_list_item_two_mobile_two {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.program_list_item_two .program_list_item_number p {
  right: -8px;
}

@media (min-width: 1200px) {
  .program_list_item_two {
    padding-bottom: 67px;
  }
  .program_list_item_two_one {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  .program_list_item_two_two {
    display: block;
    position: absolute;
    top: 12px;
    right: 17px;
  }
  .program_list_item_two_mobile_one {
    display: none;
  }
  .program_list_item_two_mobile_two {
    display: none;
  }
  .program_list_item_two ul {
    max-width: 600px;
  }
  .program_list_item_two .program_list_item_bold {
    max-width: 600px;
  }
}

@media (min-width: 1366px) {
  .program_list_item_two ul {
    max-width: 650px;
  }
  .program_list_item_two .program_list_item_bold {
    max-width: 650px;
  }
}

@media (min-width: 1440px) {
  .program_list_item_two ul {
    max-width: 750px;
  }
  .program_list_item_two .program_list_item_bold {
    max-width: 750px;
  }
}

@media (min-width: 1500px) {
  .program_list_item_two ul {
    max-width: 800px;
  }
  .program_list_item_two .program_list_item_description {
    max-width: 800px;
  }
}

.program_list_item_three_one {
  display: none;
}

.program_list_item_three_two {
  display: none;
}

.program_list_item_three_two_mob {
  position: absolute;
  right: 14px;
  bottom: 0px;
}

.program_list_item_three .program_list_item_number p {
  right: -12px;
}

@media (min-width: 1200px) {
  .program_list_item_three {
    padding-bottom: 47px;
  }
  .program_list_item_three_one {
    display: block;
    position: absolute;
    left: 6px;
    bottom: 0px;
  }
  .program_list_item_three_two {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .program_list_item_three_two_mob {
    display: none;
  }
  .program_list_item_three ul {
    max-width: 627px;
  }
  .program_list_item_three .program_list_item_bold {
    max-width: 627px;
  }
}

@media (min-width: 1366px) {
  .program_list_item_three ul {
    max-width: 650px;
  }
  .program_list_item_three .program_list_item_bold {
    max-width: 650px;
  }
}

@media (min-width: 1440px) {
  .program_list_item_three ul {
    max-width: 750px;
  }
  .program_list_item_three .program_list_item_bold {
    max-width: 750px;
  }
}

@media (min-width: 1500px) {
  .program_list_item_three ul {
    max-width: 827px;
  }
  .program_list_item_three .program_list_item_bold {
    max-width: 827px;
  }
}

.program_list_item_four {
  padding-bottom: 76px;
}

.program_list_item_four ul {
  margin-bottom: 20px;
}

.program_list_item_four_one {
  display: none;
}

.program_list_item_four_two {
  display: none;
}

.program_list_item_four_mobile {
  position: absolute;
  bottom: 13px;
  right: 0px;
}

.program_list_item_four .program_list_item_number p {
  right: -10px;
}

@media (min-width: 1200px) {
  .program_list_item_four {
    padding-bottom: 91px;
  }
  .program_list_item_four ul {
    margin-top: 50px;
  }
  .program_list_item_four_one {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .program_list_item_four_two {
    display: block;
    position: absolute;
    bottom: 12px;
    left: 90px;
  }
  .program_list_item_four_mobile {
    display: none;
  }
}

.program_list_item_five {
  padding-bottom: 40px;
}

.program_list_item_five_one {
  display: none;
}

.program_list_item_five_two {
  display: none;
}

.program_list_item_five_mobile {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.program_list_item_five .program_list_item_number p {
  right: -10px;
}

@media (min-width: 1200px) {
  .program_list_item_five_one {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 35px;
  }
  .program_list_item_five_two {
    display: block;
    position: absolute;
    top: 25px;
    right: 72px;
  }
  .program_list_item_five_mobile {
    display: none;
  }
  .program_list_item_five h3 {
    max-width: 600px;
  }
  .program_list_item_five .program_list_item_bold {
    max-width: 600px;
  }
}

@media (min-width: 1366px) {
  .program_list_item_five h3 {
    max-width: 650px;
  }
  .program_list_item_five .program_list_item_bold {
    max-width: 650px;
  }
}

@media (min-width: 1440px) {
  .program_list_item_five h3 {
    max-width: 720px;
  }
  .program_list_item_five .program_list_item_bold {
    max-width: 750px;
  }
}

@media (min-width: 1500px) {
  .program_list_item_five h3 {
    max-width: 757px;
  }
  .program_list_item_five .program_list_item_bold {
    max-width: 827px;
  }
}

.program_list_item_six {
  background-color: #77C8D6;
}

.program_list_item_six_feature {
  display: none;
}

.program_list_item_six_feature_mob {
  position: absolute;
  right: 12px;
  bottom: 8px;
}

@media (min-width: 1200px) {
  .program_list_item_six {
    padding-left: 330px;
    height: 186px;
  }
  .program_list_item_six h3 {
    margin-top: 73px;
  }
  .program_list_item_six_feature {
    display: block;
    position: absolute;
    right: 40px;
    top: 0px;
  }
  .program_list_item_six_feature_mob {
    display: none;
  }
}

@media (min-width: 1500px) {
  .program_list_item_six_feature {
    right: 100px;
  }
}

.partners {
  position: relative;
}

.partners_content_desktop {
  display: none;
}

.partners_content_mobile {
  margin-top: 30px;
}

.partners_content_mobile_top h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #082D64;
  text-align: center;
}

.partners_content_mobile_top_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners_content_mobile_top_list img {
  width: 150px;
  margin-top: 30px;
}

.partners_content_mobile_mid {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.partners_content_mobile_mid::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -40px;
  width: 100%;
  height: 4px;
  background-color: #082D64;
}

.partners_content_mobile_mid h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #082D64;
  text-align: center;
}

.partners_content_mobile_mid img {
  width: 120px;
  margin-top: 30px;
}

.partners_content_mobile_bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
  margin: 0 auto;
  margin-top: 40px;
}

.partners_content_mobile_bottom img {
  width: 42%;
  margin-top: 40px;
}

.partners_content_mobile_bottom img:nth-child(8) {
  margin-right: 10px;
}

.partners_content_mobile_bottom img:nth-child(9) {
  width: 43px;
}

.partners_content_mobile_bottom img:nth-child(10) {
  width: 66px;
}

.partners_content_mobile_bottom img:nth-child(11) {
  width: 40px;
}

@media (min-width: 768px) {
  .partners_content_mobile_top_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .partners_content_mobile_bottom {
    width: 100%;
  }
  .partners_content_mobile_bottom img {
    width: auto;
    margin-left: 20px;
  }
  .partners_content_mobile_bottom img:nth-child(9) {
    width: auto;
  }
  .partners_content_mobile_bottom img:nth-child(10) {
    width: auto;
  }
  .partners_content_mobile_bottom img:nth-child(11) {
    width: auto;
  }
}

@media (min-width: 1200px) {
  .partners_content_mobile {
    display: none;
  }
  .partners_content_desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
  }
  .partners_content_desktop_left_top {
    position: relative;
  }
  .partners_content_desktop_left_top::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0px;
    width: calc(100% + 50px);
    height: 6px;
    background-color: #082D64;
  }
  .partners_content_desktop_left_top h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #082D64;
  }
  .partners_content_desktop_left_top_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 50px;
  }
  .partners_content_desktop_left_bottom {
    margin-top: 100px;
  }
  .partners_content_desktop_left_bottom h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #082D64;
  }
  .partners_content_desktop_left_bottom_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .partners_content_desktop_left_bottom_list img {
    margin-top: 50px;
    margin-left: 70px;
    width: 140px;
  }
  .partners_content_desktop_left_bottom_list img:first-child {
    margin-left: 20px;
  }
  .partners_content_desktop_left_bottom_list img:nth-child(5) {
    width: auto;
    margin-left: 40px;
  }
  .partners_content_desktop_left_bottom_list img:nth-child(6) {
    margin-left: 110px;
  }
  .partners_content_desktop_left_bottom_list img:nth-child(9) {
    margin-left: 20px;
  }
  .partners_content_desktop_left_bottom_list img:nth-child(11) {
    width: auto;
  }
  .partners_content_desktop_right {
    margin-left: 150px;
    position: relative;
  }
  .partners_content_desktop_right::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -100px;
    height: 100%;
    width: 6px;
    background-color: #082D64;
  }
  .partners_content_desktop_right h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #082D64;
  }
  .partners_content_desktop_right img {
    margin-top: 70px;
  }
}

@media (min-width: 1440px) {
  .partners_content_desktop_left_bottom_list img {
    width: auto;
  }
}

.footer {
  position: relative;
  background-color: #CE00FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 30px;
  margin-top: 32px;
  padding-bottom: 43px;
}

.footer_content h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 42px;
}

.footer_content_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer_content_form form {
  width: 100%;
}

.footer_content_form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer_content_form p span {
  width: 100%;
  position: relative;
}

.footer_content_form p span input {
  width: 100%;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  border-bottom: 2px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 20px;
}

.footer_content_form p span input::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer_content_form p span input::-moz-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer_content_form p span input:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer_content_form p span input::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer_content_form p span input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer_content_form_policy {
  margin-top: 0px;
}

.footer_content_form_policy label {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.footer_content_form_policy label .checkmark {
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 22px;
  height: 22px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-top: 0px;
}

.footer_content_form_policy label .checkmark:after {
  content: "";
  display: block;
  opacity: 0;
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: #FFFFFF;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer_content_form_policy label input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.footer_content_form_policy label input:checked ~ .checkmark:after {
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer_content_form_policy label .text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer_content_form_policy label .text a {
  position: relative;
  color: #FFFFFF;
  text-decoration: underline;
}

.footer_content_form_text {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.footer_content_form input[type="submit"] {
  width: 193px;
  height: 48px;
  background: #082D64;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 48px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-top: 33px;
}

.footer_content_form input[type="submit"]:hover {
  color: #00FFEA;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer_right {
  display: none;
}

.footer_mobile {
  background: url(../img/footer/background.jpg);
  background-size: cover;
  background-position: 50%;
  height: 300px;
  position: relative;
}

.footer_mobile:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #CE00FF;
  opacity: 0.2;
}

.footer_mobile_content {
  position: absolute;
  top: -23px;
  right: 15px;
  width: 284px;
  z-index: 2;
}

.footer_mobile_content img {
  width: 186px;
  position: absolute;
  left: 0px;
  top: 45px;
}

.footer_mobile_content_border {
  width: 177px;
  height: 177px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 10px solid #FFFFFF;
  border-left: none;
  position: absolute;
  left: 104px;
  top: 0px;
}

.footer_mobile_content_border:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 35px;
  width: 10px;
  background-color: #fff;
}

.footer_mobile_content_border:before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 35px;
  width: 10px;
  background-color: #fff;
}

@media (min-width: 1200px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 50px;
    margin-top: 60px;
  }
  .footer:after {
    content: "";
    background: url(../img/footer/background.jpg);
    position: absolute;
    right: 0px;
    top: 0px;
    width: 35%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
  }
  .footer:before {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 35%;
    height: 100%;
    background-color: #CE00FF;
    opacity: 0.2;
    z-index: 2;
  }
  .footer_content h2 {
    text-align: left;
    font-size: 50px;
    line-height: 61px;
  }
  .footer_content_form {
    width: 600px;
  }
  .footer_content_form p span input {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 3px solid #fff;
    padding-bottom: 30px;
  }
  .footer_content_form p span input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 22px;
  }
  .footer_content_form p span input::-moz-placeholder {
    font-size: 18px;
    line-height: 22px;
  }
  .footer_content_form p span input:-ms-input-placeholder {
    font-size: 18px;
    line-height: 22px;
  }
  .footer_content_form p span input::-ms-input-placeholder {
    font-size: 18px;
    line-height: 22px;
  }
  .footer_content_form p span input::placeholder {
    font-size: 18px;
    line-height: 22px;
  }
  .footer_content_form_policy label .text {
    font-size: 18px;
    line-height: 22px;
  }
  .footer_content_form_text {
    font-size: 16px;
    line-height: 20px;
  }
  .footer_content_form input[type="submit"] {
    width: 248px;
    height: 54px;
    line-height: 54px;
    font-size: 18px;
  }
  .footer_right {
    display: block;
    position: absolute;
    width: 512px;
    right: 5%;
    top: 195px;
    z-index: 3;
  }
  .footer_right img {
    position: absolute;
    left: 0px;
    top: 58px;
  }
  .footer_right_border {
    width: 418px;
    height: 418px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 20px solid #fff;
    border-left: none;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .footer_right_border:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 50px;
    width: 20px;
    background-color: #fff;
  }
  .footer_right_border:before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 160px;
    width: 20px;
    background-color: #fff;
  }
  .footer_mobile {
    display: none;
  }
}

@media (min-width: 1366px) {
  .footer_right {
    right: 12%;
  }
}

@media (min-width: 1600px) {
  .footer_content_form {
    width: 700px;
  }
  .footer_right {
    right: 15%;
  }
}

@media (min-width: 1920px) {
  .footer_right {
    right: 18%;
  }
}

.back_modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #1C1C1C;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: -9;
  cursor: pointer;
}

.back_modal.active {
  opacity: 0.6;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 9;
}

.modal_registration {
  position: fixed;
  left: 50%;
  top: 50px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 8px solid #2a83a7;
  background-color: #082D64;
  z-index: -10;
  opacity: 0;
  padding: 30px 10px 20px 10px;
  width: calc(100% - 40px);
}

.modal_registration.active {
  z-index: 10;
  opacity: 1;
}

.modal_registration_close {
  position: absolute;
  right: 32px;
  top: 11px;
  cursor: pointer;
}

.modal_registration_close img {
  position: absolute;
  left: 0px;
  top: 0px;
}

.modal_registration_close_default {
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.modal_registration_close_active {
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.modal_registration_close:hover .modal_registration_close_default {
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.modal_registration_close:hover .modal_registration_close_active {
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.modal_registration h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 40px;
}

.modal_registration_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modal_registration_form form {
  width: 100%;
}

.modal_registration_form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.modal_registration_form p span {
  width: 100%;
  position: relative;
}

.modal_registration_form p span input {
  width: 100%;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  border-bottom: 2px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 20px;
}

.modal_registration_form p span input::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.modal_registration_form p span input::-moz-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.modal_registration_form p span input:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.modal_registration_form p span input::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.modal_registration_form p span input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.modal_registration_form_policy {
  margin-top: 0px;
}

.modal_registration_form_policy label {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.modal_registration_form_policy label .checkmark {
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 22px;
  height: 22px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-top: 0px;
}

.modal_registration_form_policy label .checkmark:after {
  content: "";
  display: block;
  opacity: 0;
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: #FFFFFF;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.modal_registration_form_policy label input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.modal_registration_form_policy label input:checked ~ .checkmark:after {
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.modal_registration_form_policy label .text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.modal_registration_form_policy label .text a {
  position: relative;
  color: #FFFFFF;
  text-decoration: underline;
}

.modal_registration_form_text {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.modal_registration_form input[type="submit"] {
  width: 182px;
  height: 36px;
  background: #00FFEA;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 36px;
  color: #082D64;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-top: 20px;
}

.modal_registration_form input[type="submit"]:hover {
  background: #00EFDB;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (min-width: 1200px) {
  .modal_registration {
    width: 954px;
    border: 16px solid #2a83a7;
    padding: 40px 100px 40px 80px;
  }
  .modal_registration_close {
    right: 44px;
    top: 20px;
  }
  .modal_registration h2 {
    text-align: left;
    font-size: 30px;
    line-height: 37px;
  }
  .modal_registration_form p span input {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 3px solid #fff;
  }
  .modal_registration_form p span input::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 22px;
  }
  .modal_registration_form p span input::-moz-placeholder {
    font-size: 18px;
    line-height: 22px;
  }
  .modal_registration_form p span input:-ms-input-placeholder {
    font-size: 18px;
    line-height: 22px;
  }
  .modal_registration_form p span input::-ms-input-placeholder {
    font-size: 18px;
    line-height: 22px;
  }
  .modal_registration_form p span input::placeholder {
    font-size: 18px;
    line-height: 22px;
  }
  .modal_registration_form input[type="submit"] {
    width: 248px;
    height: 54px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 30px;
  }
}
